.fixedicons_container {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000000000;
  padding: 3px;
}

.fixedicons_line {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fixedicons_common {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--sec);
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
}

@media (width <=1130px) {
  .fixedicons_container {
    display: none;
  }
}