/* tob banner  */
.top_banner_container {
  height: auto;
  width: 100%;
  background-image: url('/images/top_banner.avif');
  background-size: cover;
  position: relative;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  text-align: center;


  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 33, 71, .9);
    z-index: 1;
  }
}

.top_banner_content {
  position: relative;
  z-index: 10;
  padding-top: 50px;
}

.top_banner_nav_box {
  gap: 10px;
  cursor: pointer;

  li {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.top_banner_heading {
  font-size: 45px;
  font-weight: 600;
}

.rte_icon {
  width: 100%;
  height: 100%;
  animation: rotateIcon 16s infinite linear;


  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.top_banner_container {
  position: relative;

}

.rte_icon_letter {
  width: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.rte_logo_container {
  width: 130px;
  position: relative;
  z-index: 100;
  margin: auto;
  margin-top: 20px;
}

@media(width<=650px) {
  .top_banner_container{
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
@media(width<=500px) {
  .top_banner_heading {
    font-size: 30px;
  }

  .top_banner_nav_box {
    gap: 10px;

    li {
      font-size: 14px;
    }
  }

  .rte_logo_container{
  width: 120px;

  }
}


@media(width<=400px) {
  .top_banner_heading {
    font-size: 28px;
  }}